<ul>
  <li><%= @offer.brand %></li>
  <li><%= @offer.description %></li>
  <li><%= @offer.category %></li>
  <li><%= @offer.size %></li>
  <li><%= @offer.color %></li>
  <li><%= @offer.price_per_day %></li>
</ul>

<% if(@offer.user == current_user) %>
<%= link_to "Update", edit_offer_path, class: 'btn btn-primary'%>
<%= link_to "Delete", offer_path, method: :delete, data: { confirm: "Sur to delete?" }, class: 'btn btn-primary'%>
<% end %>
<%= link_to "Back to list", offers_path, class: 'btn btn-primary'%>
